.kpi_metric_1{
  border: 1px solid black;
  background-color: rgba(28, 131, 225, 0.1);
  border: 1px solid rgba(28, 131, 225, 0.1);
  padding: 2% 5% 2% 8%;
  border-radius: 5px;
  color: rgb(30, 103, 119);
  line-height: 1.8em;
}

.stButton button {
  width: 100%;
  box-sizing: border-box;
}

/* header */
.css-18e3th9 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

[data-testid="stMetricLabel"] {
  font-size: 20px;
}

[data-testid="stMetricValue"] {
  font-size: 36px;
}

[data-testid="metric-container"] {
  background-color: rgba(28, 131, 225, 0.1);
  border: 1px solid rgba(28, 131, 225, 0.1);
  padding: 5% 5% 5% 10%;
  border-radius: 5px;
  color: rgb(30, 103, 119);
}